
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do-App</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1><h1>Welcome to your Dashboard</h1></h1>
    <% const current = new Date().getHours();
    let greetings;

    if (current < 12) {
        greetings = "Good Morning";
    } else if (current < 18) {
        greetings = "Good Afternoon";
    } else {
        greetings = "Good Evening";
    }
    %>
    <h2><%= greetings %>, <%= user %>!</h2>
    <a href="/task">Add Task</a>
    <ul>
      <% tasks.forEach(task => { %>
        <li>
          <%= task.taskName %> 
          <% if (task.completed) { %> (Completed) <% } %>
          <br>
          <small>Added on: <%= new Date(task.createdAt).toLocaleDateString() %> at <%= new Date(task.createdAt).toLocaleTimeString() %></small>
          <form action="/update-task/<%= task._id %>" method="POST" style="display:inline;">
            <button type="submit"><%= task.completed ? 'Undo' : 'Complete' %></button>
          </form>
          <form action="/delete-task/<%= task._id %>" method="POST" style="display:inline;">
            <button type="submit">Delete</button>
          </form>
        </li>
      <% }) %>
    </ul>
    <a href="/logout">Logout</a>
</body>
</html>